<!DOCTYPE html>
<Html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="css/w3.css"/>
		<meta charset="utf-8"/>
		<Link rel="stylesheet" href="css/main.css"/>
		<link href="https://fonts.googleapis.com/css?family=Khula" rel="stylesheet"/>

		<title> MyPortfolio </title>
	</head>

	<body>


	<div class="main">

<div id="header">

			<div class="headercontainer">
			<img src="images\BoatengDesigns2.png" alt="Missing Logo area" class="logo" />

			<nav class="top_nav"><!--Navigation Element-->
				<ul>
					<li><a href="#" title="aboutMe">About Me</a></li>
					<li><a href="#" title="work">My Work</a></li>
					<li><a href="#" title="skills">Skills</a></li>
					<li><a href="#" title="contact">Contact</a></li>
				</ul>
			</nav>

			<h1 class ="mainheader">Eric Boateng the Developer</h1>
			<h3 class="subheader">Create something fresh </h3>
			</div>
</div><!--header-->

<div id="container">

			<div id="navigation">
				<h2 class = "navheader">About Myself</h2>

				<a href="#"><img src="images\pen.jpg" alt="Missing link" class="study"/> </a>
				<a href="#"><img src="images\suit.jpg" alt="Missing link" class="work"/> </a>

				<a href="#"><img src="images\Eric2.jpg" alt="Missing Picture" class="icon-face"/> </a>

				<a href="#"><img src="images\love.jpg" alt="Missing link" class="life"/> </a>
				<a href="#"><img src="images\video.jpg" alt="Missing link" class="video"/> </a>


			</div><!--navigation-->
			<div id="content">
				<div class="whoami">
					<p>
					I am a dedicated and hard working multimedia graduate with a passion for Web Development and IT.
					I have experience working with clients creating logos, Leaflets, Designing T shirts, and assisting
					my church with leaflets, newsletters and videos on a weekly and monthly Basis. I also have assisted
					with creating interactive training material and presentation material for the company training team
					to utilise.
					<br>I have a very strong IT background, and naturally capable of handling problem solving
					situations.
					<br>To further pursue my career in Web Develpoment I have used countless self-funded training material
					to reinforce and strengthen my coding Skills.
					</P>
				</div>

			</div><!--content-->

			<div id="skills">

			<h2 class = "skillsheader"><span>Skills</span></h2>
			<p class = "skillcaption">Here shows my progression with my skill set</p>

				<div class="skill-lockup">

					<div class="skill-unit">
						<div class="skill-html">HTML/5 80%</div>
					</div>

					<div class="skill-unit">
						<div class="skill-css">CSS/3 70%</div>
					</div>

					<div class="skill-unit">
						<div class="skill-js">Javascript 50%</div>
					</div>

					<div class="skill-unit">
						<div class="skill-ps">Photoshop 80%</div>
					</div>

					<div class="skill-unit">
						<div class="skill-ill">Illustrator 80%</div>
					</div>

					<div class="skill-unit">
						<div class="skill-ux">UX design 60%</div>
					</div>

					<div class="skill-unit">
						<div class="skill-tw">Team work 90%</div>
					</div>

					<div class="skill-unit">
						<div class="skill-comms">Communication 80%</div>
					</div>

				</div>
			</div>


	<div id="portfolio">
		<h2 class = "portfolioheader"><span>Portfolio</span></h2>

		<div class="responsive">
		  <div class="gallery">
		   <a target="_blank" href="#">
		   <img src="images/img_project1.jpg" alt="project1" width="300px" height="200px">
		   </a>
		   <div class="desc">My porfolio webpage...</div>
		  </div>
		</div>

		<div class="responsive">
  			<div class="gallery">
    		<a target="_blank" href="#">
      	<img src="images/img_project2.jpg" alt="project2" width="300px" height="200px">
    		</a>
    		<div class="desc">Hackney advertising</div>
  			</div>
		</div>

		<div class="responsive">
		  	<div class="gallery">
		   <a target="_blank" href="#">
		   <img src="images/img_project3.jpg" alt="project3" width="300px" height="200px">
		   </a>
		   <div class="desc">Hackney Promotions</div>
		  	</div>
		</div>

		<div class="responsive">
		  <div class="gallery">
		   <a target="_blank" href="#">
		   <img src="images/under_construction.png" alt="project4" width="300px" height="200px">
		   </a>
		   <div class="desc">Under construction</div>
		  </div>
		</div>

		<div class="responsive">
  			<div class="gallery">
    		<a target="_blank" href="#">
      	<img src="images/under_construction.png" alt="project5" width="300px" height="200px">
    		</a>
    		<div class="desc">Under construction</div>
  			</div>
		</div>

		<div class="responsive">
		  	<div class="gallery">
		   <a target="_blank" href="#">
		   <img src="images/under_construction.png" alt="project6" width="300px" height="200px">
		   </a>
		   <div class="desc">Under construction</div>
		  	</div>
		</div>

	</div>

		<!--contact area*-->
		<div id="contactarea">
			<h2 class = "contactheader"><span>Contact me</span></h2>

	<form id="contact">
	<div class="contactcontainer">
	   <input type="text" name="name" placeholder="Name" /><br />
	   <input  type="email" name="email" placeholder="Email" /><br />
	   <textarea type="text" name="message" placeholder="Message"></textarea><br />
	   <div class="message">Message Sent</div>
	   <button id="submit" type="submit">
	      Send!
	   </button>
	</div>
	</form>

	</div>

</div><!--Container-->

		<div id="footer">

			<img src="images\BoatengDesigns2.png" alt="Missing Logo area" class="bottom_logo" />

			<nav class="bottom_nav"><!--Navigation Element-->
				<ul>
					<li><a href="#" title="aboutMe">About Me</a></li>
					<li><a href="#" title="work">My Work</a></li>
					<li><a href="#" title="skills">Skills</a></li>
					<li><a href="#" title="contact">Contact</a></li>
				</ul>
			</nav>

			<div class="footer-social-icons">
			    <h4 class="follow">Follow me on</h4>
			    <ul class="social-icons">
			        <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
			        <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
			      <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
			        <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
			    </ul>
			</div>


			<p class="copywright">Copywrighted by BoatengDesigns</p>

		</div>

</div>


</body>

<script src="js/main.js"></script>

</html>
